@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1.5s ease-out forwards;
}
@keyframes slide-in-left-light {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left-light {
  animation: slide-in-left-light 2s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 2s ease-out backwards;
}
@keyframes slide-in-right-light {
  0% {
    transform: translateX(40%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right-light {
  animation: slide-in-right-light 2s ease-out backwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 1.5s ease-out forwards;
}

.delay1 {
  animation-delay: 0.5s;
}
.delay2 {
  animation-delay: 0.9s;
}
.delay3 {
  animation-delay: 1.3s;
}
.delay4 {
  animation-delay: 1.7s;
}
.delay5 {
  animation-delay: 2.1s;
  color: #dfdad4;
}
